.error-boundary-fallback {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: var(--vscode-descriptionForeground);
  height: 100%;
  padding: 20px 40px 40px 40px;
  max-width: 500px;
  margin: 0 auto;
}

.error-boundary-icon {
  margin-bottom: 20px;
  opacity: 0.2;
  width: 50px;
  height: 50px;
  background-image: url('../../assets/error-light.svg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

body.vscode-dark .error-boundary-icon,
body.vscode-high-contrast .error-boundary-icon {
  background-image: url('../../assets/error-dark.svg');
}

.error-boundary-fallback p {
  margin: 0 0 30px 0;
  color: var(--vscode-foreground);
  font-size: 14px;
  font-weight: 500;
  line-height: 1.5;
  text-wrap: balance;
}

.error-boundary-fallback .error-boundary-details {
  color: var(--vscode-descriptionForeground);
  font-size: 13px;
  font-weight: 500;
  line-height: 1.3;
  margin: -20px 0 30px 0;
}

.error-boundary-fallback .vscode-button {
  width: auto;
  min-width: auto;
}
