.tracer-placeholder {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: var(--vscode-descriptionForeground);
  height: 100%;
  padding: 40px;
  max-width: 500px;
  margin: 0 auto;
}

.tracer-placeholder-icon {
  margin-bottom: 30px;
  opacity: 0.2;
  width: 50px;
  height: 50px;
  background-image: url('../../assets/tree-light.svg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

body.vscode-dark .tracer-placeholder-icon,
body.vscode-high-contrast .tracer-placeholder-icon {
  background-image: url('../../assets/tree-dark.svg');
}

.tracer-placeholder p {
  margin: 0;
  color: var(--vscode-foreground);
  font-size: 14px;
  font-weight: 500;
  line-height: 1.5;
}
