.system-message {
  text-align: center;
  font-size: 12px;
  font-weight: 400;
  padding: 8px 18px;
  margin-bottom: 10px;
  text-wrap: balance;
}

.system-message.debug {
  opacity: 0.7;
}

.system-message.error {
  color: var(--vscode-errorForeground);
}

.system-message.warning {
  color: var(--vscode-editorWarning-foreground);
}
